<ion-view>
    <ion-header-bar align-title="center">
        <i class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()"></i>
        <div class="title" >back</div>
    </ion-header-bar>
    <ion-content >
        <div style="width: 80vw;height: 80vh;background-color: #ddd" id="canvas1">

        </div>
        <button style="display: block" class="button" ng-click="goNav()">Go Nav</button>
        <!--<ion-slide>-->
            <!--<div class="box blue"><h1>BLUE</h1></div>-->
        <!--</ion-slide>-->
        <!--<ion-slide>-->
            <!--<div class="box yellow"><h1>YELLOW</h1></div>-->
        <!--</ion-slide>-->
        <!--<ion-slide on-slide-changed="slideHasChanged(index)">-->
            <!--<div class="box pink"><h1>PINK</h1></div>-->
        <!--</ion-slide>-->
    </ion-content>
</ion-view>